  .depoimentos-section {
    padding: 7rem 0rem;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .header-title {
    font-size: 32px;
    font-weight: 700;
    color: #222;
    ;
    margin-bottom: 30px;
  }

  .line-gradient-depoiments {
    width: 224px;
    height: 3px;
    margin: -26px 0 30px 0;
    background: linear-gradient(90deg, #006eff, #00c3ff);
    border-radius: 4px;
    margin-bottom: 3rem;
  }

  .swiper {
    width: 100%;
    max-width: 800px;
  }

  .swiper-slide {
    display: flex !important;
    justify-content: center;
  }

  .depoimento-card {
    width: 100%;
    max-width: 700px;
    padding: 40px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
    text-align: center;
    transition: all 0.5s ease;
  }

  .avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 16px auto;
    border: 3px solid #007bff;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .estrelas {
    font-size: 20px;
    color: #ffc107;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .fade-in {
    animation: fadeIn 0.6s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Swiper pagination bullets estilo "barras azuis" */
  .swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    background: #ccc;
    border-radius: 4px;
    opacity: 1;
    margin: 0 4px;
    transition: background-color 0.3s ease;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination-bullet-active {
    background: #007bff;
    text-align: center;
    align-items: center;
    justify-content: center;
  }


  @media (max-width: 943px) {
    .depoimentos-section {
      padding: 2rem 0rem;
    }
  }