.app-container {
  display: flex;
  flex-direction: column;

}

.dashboard-layout {
  display: flex;
  flex-direction: column;
  /* min-height: 40vh; */
}

/* Container principal onde ficam Sidebar e Outlet */
.dashboard-container {
  display: flex;
  flex: 1;
  background-color: rgb(224, 224, 224);
  /* ocupa o espaço restante entre navbar e footer */
}

/* Garante que o footer fique sempre no final */
.app-container {
  flex-shrink: 0;
  /* impede que o footer seja encolhido */
}

.footer-dashboard {
  background-color: #0c6be6;
  padding: 1rem 0;
  text-align: center;
}

.footer-bar {
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
}

.footer-rights {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: white;
}


@media (max-width: 800px) {

  .footer-rights {
    font-size: 0.8rem;
  }
}