@import "leaflet/dist/leaflet.css";

/* === CSS RESET === */

* {
  font-family: 'Poppins', sans-serif;
}

input,
textarea,
select {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #ccc !important;
  transition: none !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #0c6be6;
}

/* html,
body,
#root {
  height: 100%;
  margin: 0;

} */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root,
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Remove decoração de links */
a {
  text-decoration: none;
  color: inherit;
}


/* Remove estilo de lista */
ul,
ol {
  list-style: none;
}

/* Tipografia básica */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #1e1e1e;
  line-height: 1.6;
}

/* Imagens responsivas */
img {
  max-width: 100%;
  display: block;
}

/* Inputs e botões com herança de estilo */
input,
button,
textarea,
select {
  font: inherit;
}

/* Cursor em botões */
button {
  cursor: pointer;
  border: none;
  background: none;
}