/* Cor fornecida para o projeto - 
1. Tom mais claro que o original -- #8A77FF
2 - original-logo -- #6D5DFB 
3 - Tom mais escuro -- #4B3DB8
*/

/* === CSS RESET === */

* {
  font-family: 'Poppins', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #0c6be6;
}

html,
body,
#root {
  height: 100%;
  margin: 0;

}


/* Remove decoração de links */
a {
  text-decoration: none;
  color: inherit;
}


/* Remove estilo de lista */
ul,
ol {
  list-style: none;
}

/* Tipografia básica */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #1e1e1e;
  line-height: 1.6;
}

/* Imagens responsivas */
img {
  max-width: 100%;
  display: block;
}

/* Inputs e botões com herança de estilo */
input,
button,
textarea,
select {
  font: inherit;
}

/* Cursor em botões */
button {
  cursor: pointer;
  border: none;
  background: none;
}