/* Estilos gerais do modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  max-width: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #3182CE;
  color: white;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.modal-body {
  font-size: 1rem;
  padding: 15px 0;
}

.alert-box {
  padding: 15px;
  background-color: #f4f6f9;
  border-left: 5px solid #3182CE;
  margin-bottom: 10px;
}

.alert-box h5 {
  margin-bottom: 10px;
  color: #3182CE;
}

.alert-box p {
  margin-bottom: 5px;

}

.alert-box .highlight {
  font-weight: bold;
  color: #3182CE;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.modal-footer button {
  background-color: #3182CE;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer button:hover {
  background-color: #2b6cb0;
}