.container-map {
  position: relative;
  width: 100%;


}


.filter-buttons {
  position: absolute;
  top: 10px;
  left: 56px;
  background: white;
  border-radius: 10px;
  padding: 11px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.filter-buttons button {
  padding: 8px 12px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #f1f1f1;
  transition: background 0.2s;
  font-size: 13px;
  font-weight: 700;
}

.filter-buttons button:hover {
  background: #ddd;
}

.filter-buttons button.active {
  background: #1d8af7;
  color: white;
}

.map-legend {
  position: absolute;
  width: 30%;
  bottom: 10px;
  left: 7px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;

}

.map-legend img {
  width: 20px;
  vertical-align: middle;
  margin-right: 6px;
}



.legend-list {
  list-style: none;
  padding: 0;
  margin-top: 6px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.legend-list li {
  font-size: 0.87rem;
}

.details-container {
  margin-top: 1rem;
}

.card-title {
  color: #085ece;
}


/* Responsividade */
@media (max-width: 768px) {

  .filter-buttons {
    position: absolute;
    top: 85px;
    left: 8px;
    background: white;
    border-radius: 10px;
    padding: 7px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 14%;
  }

  .filter-buttons button {
    font-size: 10px;
    width: 100%;
    padding: 8px;

  }


  .btn-tempo {
    display: none;
  }

  .map-legend {
    display: none;
  }



  .div-teste {
    width: 100%;
    height: 400px;
    background-color: blueviolet;
  }

  .icon-tempo {
    width: 100%;
    height: 20px;
  }

}