/* Footer Custom Styles */
.footer {
  font-size: 0.95rem;
  background-color: #4B3DB8;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-img {
  width: 70%;
}

.footer-slogan {
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  color: rgb(244, 243, 243);
}

/* Links */
.links-title,
.newsletter-title,
.rights,
.btn-footer {
  letter-spacing: 2px;
}

/* Links animados */
.link-animado {
  position: relative;
  display: inline-block;
  color: rgb(244, 243, 243);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.link-animado::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: white;
  transition: width 0.3s ease;
}

.link-animado:hover::after {
  width: 100%;
}


/* Icons Sociais */
.icons-sociais {
  width: 50px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  color: white;
}

.icons-sociais {
  display: inline-block;
  transition: color 0.3s ease;
}

/* Animação de troca de cor e bounce */
.icons-sociais:hover {
  animation: bounceColor 1s infinite;
}

/* Footer Form */
.newsletter-subtitle {
  letter-spacing: 1.5px;

}

.btn-footer {
  min-width: 10rem;
  background-color: #6855e4;
  color: white;

}

.btn-footer:hover {
  background-color: #6D5DFB;
}

/* Definindo a animação do efeito bounce */
@keyframes bounceColor {
  0% {
    color: white;
    transform: translateY(0);
  }

  50% {
    color: #8A77FF;
    /* Cor azul no meio da animação */
    transform: translateY(-5px);
    /* Efeito de pulo para cima */
  }

  100% {
    color: white;
    transform: translateY(0);
  }
}


/* Responsivo para tablets (768px para baixo) */
@media (max-width: 768px) {
  footer .row>div {
    margin-bottom: 2rem;
  }

  footer form {
    flex-direction: column;
  }

  footer form input {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  footer form button {
    width: 100%;
  }
}

/* Responsivo para celulares (576px para baixo) */
@media (max-width: 576px) {
  footer {
    text-align: center;
  }

  footer .row>div {
    text-align: center !important;
  }

  footer .bi {
    margin-right: 10px;
  }

  footer h6 {
    margin-top: 1rem;
    font-size: 1rem;
  }

  footer input::placeholder {
    font-size: 0.9rem;
  }

  /* .container-icons {
    gap: 1rem;
  } */

  .icons-sociais {
    width: 50px;
    height: 49px;
    padding-left: 0.7rem;
  }

}